body {
	position: relative;
	background-color: #D9D9FF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

p, a {
	font-family: 'Roboto Condensed', sans-serif;
	color: #111130;
}

.section-title {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 25px;
}

.about-section, .portfolio-section, .contact-section {
	min-height: 460px;
	padding-top: 10px;
	padding-bottom: 45px;
}

@media only screen and (max-width : 768px) {
  .hero-section, .about-section, .portfolio-section, .contact-section {
		background-position: center;
	}
}

/** navbar css **/

.navbar-default {
	background-color: rgba(0, 0, 0, .5);
	border: 0;
}

.nav.navbar-nav.navbar-right a {
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

.nav.navbar-nav.navbar-right a:hover {
	background-color: #08a686;
	color: #fff;
}


/** hero section css **/

.hero-section {
	height: 90vh;
	background-image: url(../img/hero-img1.png);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
 }

.hero-container h1 {
	font-size: 60px;
	font-weight: 700;
}

.hero-container p {
	font-size: 20px;
}

.hero-container h1, .hero-container p {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

@media only screen and (min-width : 992px) {
  .hero-section {
    min-height: 500px;
  }
}

@media only screen and (max-width : 768px) {
  .hero-section {
    height: 100vh;
  }
}

/** about section css **/
.about-section {
	margin-top: 20px;
	margin-bottom: 0;
	background-image: url(../img/about-img1.png);
	background-size: cover;
}

.about-text {
	margin-top: 15px;
	color: #fff;
	text-shadow: 1px 1px 1px #080808;
	padding: 10px;
	font-size: 24px;
	background-color: rgba(8, 166, 134, .4);
}

.about-icon {
	margin-top: 10px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #111130;
	box-shadow: 2px 3px 2px #111130;
}

.about-section h2 {
	font-weight: 700;
}

@media only screen and (max-width: 768px) {
	.about-text {
		margin-top: 25px;
		text-shadow: 1px 1px 2px #080808;
	}

	.about-icon {
		width: 250px;
	}
}

.skills-container {
	margin-top: 20px;
	margin-bottom: 10px;
}

.skills p {
	display: inline-block;
	height: 30px;
	width: 70%;
	background-color: #08a686;
	color: #fff;
	font-size: 20px;
}

.skills p:hover {
	width: 80%;
	transition: width 2s;
	background-color: #0fe8e1;
}

/* portfolio section css */

.portfolio-section {
	background-image: url(../img/portfolio-img1.png);
	background-size: cover;
}

.portfolio-text {
	padding-bottom: 30px;
}

.portfolio-section h3 {
	font-size: 25px;
}

.portfolio-text p {
	color: #fff;
	text-shadow: 1px 1px 1px #080808;
	font-size: 18px;
}

.portfolio-text a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.portfolio-text a:hover {
	background-color: #08a686;
	border: none;
	color: #fff;
	font-weight: 500;
}

.portfolio-img {
	padding-bottom: 20px;
}

/** contact section css **/
.contact-section {
	background-image: url(../img/contact-img1.png);
	background-size: cover;
	font-size: 16px;
}

.fab {
	font-size: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.contact-section a {
	color: #111130;
}

.contact-section a:hover {
	color: #08a686;
}

.footer-contact-form {
	font-family: 'Roboto Condensed', sans-serif;
}

.footer-contact-form .btn:hover {
	background-color: #08a686;
	border: none;
	color: #fff;
}
